body {
    text-align: center;
    margin-top: 10rem;
    background-color: rgb(25, 20, 31);
}

h1,
h2 {
    font-size: 2.5rem;
    color: white;
}

button {
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    margin: .5rem;
}

button {
    border-color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}